@page "/Profile"
@using System.ComponentModel.DataAnnotations
@using Application.DTOs.Account
@using Cinecritic.Application.Services
@using Cinecritic.Application.Services.Users
@using Cinecritic.Infrastructure.Data
@using Cinecritic.Web.Common
@using Cinecritic.Web.Components.Account
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject IUserService UserService

<PageTitle>Profile</PageTitle>

<div class="row w-100">
    <h3>Profile</h3>
    <div class="col-md-4 mx-auto">
        <EditForm method="post" Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText id="displayName" type="text" @bind-Value="Input.DisplayName" class="form-control" placeholder="Please choose your username." />
                <label for="displayName" class="form-label">Username</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>