@page "/Account/ConfirmEmail"

@using System.Text
@using Application.DTOs.Account
@using Cinecritic.Application.Services
@using Cinecritic.Application.Services.Users
@using Cinecritic.Infrastructure.Data
@using Cinecritic.Web.Components.Account
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject IUserService UserService
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@statusMessage" />

@code {
	private string? statusMessage;

	[SupplyParameterFromQuery]
	private string? UserId { get; set; }

	[SupplyParameterFromQuery]
	private string? Code { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (UserId is null || Code is null)
		{
			RedirectManager.RedirectTo("");
		}

		var confirmEmailResult = await UserService.ConfirmEmailAsync(new ConfirmTokenDto
		{
			Code = Code,
			UserId = UserId
		});
		if (!confirmEmailResult.IsSuccess)
		{
			statusMessage = "Error confirming your email.";
			return;
		}

		RedirectManager.RedirectTo("/");
	}
}
