@page "/"

<PageTitle>Home</PageTitle>
<div class="d-flex flex-column justify-content-center align-items-center h-100">
	<h1>
		Discover movies you love.
	</h1>
	<h1>
		Rate them.
	</h1>
	<h1>
		Share your favorites with friends.
	</h1>
	<NavLink class="btn btn-success fs-3 rounded-3 mt-3 fw-bold text-white" href="/Account/Login">Get started</NavLink>
</div>