@page "/user/movies"

<PageTitle>Movies</PageTitle>

<h3>Movies</h3>
<div class="table-bordered">
	@if (_movies != null)
	{
		for (int i = 0; i < _movies.Count; i += 4)
		{
			<div class="row">
				@for (int j = 0; j < ColumnCount && i + j < _movies.Count; j++)
				{
					var index = i + j;
					<NavLink class="col-3 mx-auto d-flex flex-column align-items-center" href="@($"/user/movie/{Uri.EscapeDataString(_movies[index].Id.ToString())}-{Uri.EscapeDataString(_movies[index].Title)}")">
						@if (!string.IsNullOrEmpty(_movies[index].ImagePath))
						{
							<img class="rounded-3" src="@_movies[index].ImagePath" width="200" height="400" />
						}

						<h4>@($"{_movies[index].Title}")</h4>
						@if (_movies[index].ReleaseDate != null)
						{
							<h4>@($"({_movies[index].ReleaseDate})")</h4>
						}
					</NavLink>
				}
			</div>
		}
	}
	<nav class="d-flex justify-content-between">
		<ul class="pagination d-flex justify-content-between w-100">
			@if (CurrentPage > 1)
			{
				<li class="page-item">
					<NavLink class="page-link" href=@($"/user/movies?page={CurrentPage - 1}")>Previous</NavLink>
				</li>

			}
			else
			{
				<li class="page-item"></li>
			}
			<li class="page-item">
				<NavLink class="page-link" href=@($"/user/movies?page={CurrentPage + 1}")>Next</NavLink>
			</li>
		</ul>
	</nav>
</div>